@media only screen and (max-width:640px) {

  .modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 9999;
    transform: translateX(101vw);
    transition: .3s transform;
    padding: 21.333vw 0;
    overflow-y: scroll;
  }
  .modal.active {
    transform: translateX(0)
  }
  
  .modal .close {
    font-size: 0;
    display: inline-block;
    position: absolute;
    top: 4.533vw;
    right: 10.4vw;
    width: 7.467vw;
    height: 7.467vw;
    background: center center / 7.467vw auto no-repeat url("/images/menu-close.svg");
    transition: .3s transform, .3s opacity;
  }
  .modal .close:hover {
    transform: none;
    opacity: .8;
  }
  
  .modal .logo {
    display: inline-block;
    margin: 0 0 13.333vw 0;
  }
  
  .modal .logo img {
    width: 30.933vw;
  }
  
  .modal form {
    display: flex;
    flex-direction: column;
    width: 78.933vw;
  }
  
  .modal form .label-content {
    transform: skew(-15deg);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(107.45px);
  }
  
  .modal form .label-content input {
    font-size: 5.333vw;
    padding: 3.2vw 2.083vw 3.2vw 3.125vw;
  }
  
  .modal form label:nth-child(1) {
    margin: 0 0 2.667vw 0;
  }
  
  .modal form label span {
    font-size: 5.333vw;
    margin: 0 0 2.667vw 0;
  }
  
  .modal form .btn {
    font-size: 4.8vw;
    margin: 10.667vw 0 0 0;
    justify-content: center;
  }

  .btn {
    font-size: 4.8vw;
    padding: 2.667vw 16vw 2.667vw 13.333vw;
  }

  .btn img {
    height: 5.867vw;
    margin: 0 4vw 0 0;
  }

  .container {
    width: 78.93vw;
    margin: 0 auto;
  }

  header.desktop {
    display: none;
  }

  header.mobile {
    position: fixed;
    display: block;
    width: 100%;
    background: linear-gradient(269.33deg, #0957A5 -103.89%, rgba(158, 158, 158, 0) 135.53%);
    backdrop-filter: blur(91.5274px);
    padding: 2.667vw 0;
    z-index: 99;
  }
  header.mobile .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header.mobile a.logo {
    display: inline-block;
  }
  header.mobile a.logo img {
    width: 10.67vw;
  }

  .modal .logo img {
    width: 30.933vw;
  }

  #mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    padding: 21.333vw 0;
    background: linear-gradient(269.33deg, #0957A5 -103.89%, rgba(158, 158, 158, 1) 135.53%);
    filter: drop-shadow(0px 3.66109px 10.9833px rgba(80, 112, 215, 1));
    overflow-y: scroll;
  }

  #mobile-menu .btn {
    margin: 0 0 2.667vw 0;
    white-space: nowrap;
  }

  #mob-menu-close {
    display: block;
    position: fixed;
    top: 4.533vw;
    right: 10.4vw;
    font-size: 0;
    transition: .3s opacity;
  }
  #mob-menu-close:hover {
    opacity: .8
  }
  #mob-menu-close img {
    width: 7.467vw;
    height: auto;
  }

  #mobile-menu {
    transform: translateX(101vw);
    transition: .3s transform;
    position: fixed;
  }

  #mobile-menu.active {
    transform: translateX(0);
  }

  #mobile-menu a.logo {
    display: block;
    margin: 0 0 17.333vw 0;
  }
  #mobile-menu a.logo img {
    width: 30.933vw;
    height: auto;
  }

  #mobile-menu nav {
    width: 100%;
    text-align: center;
    margin: 0 0 16vw 0;
  }

  #mobile-menu nav a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 7.467vw;
    line-height: 1.14;
  }

  #mobile-menu nav a:not(:last-child) {
    margin: 0 0 4.8vw 0;
  }

  .lang-dropdown-wrap {
    margin: 0 18.667vw 0 auto;
  }
  
  .lang-dropdown-wrap > span {
    font-size: 3.2vw;
    padding: 2.133vw 3.2vw;
  }

  .lang-dropdown-wrap > span img {
    width: 4.267vw;
    margin: 0 1.333vw 0 0;
  }

  .lang-dropdown {
    left: 2.5vw;
  }

  .lang-dropdown a {
    font-size: 2.667vw;
    padding: 2.133vw 3.2vw;
  }

  .lang-dropdown a img {
    width: 3.467vw;
    margin: 0 1.333vw 0 0;
  }

  #btn-menu {
    display: block;
  }

  #btn-menu img {
    width: 9.067vw;
    height: auto;
  }

  .video-preview video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .about-block {
    padding: 10.667vw 0 56vw 0
  }

  .about-block-capt {
    font-size: 11.73vw;
    text-align: center;
    margin: 0 0 5.333vw 0;
  }

  .about-block-desc {
    font-size: 4.267vw;
    margin: 0;
    text-align: center;
  }

  .about-block .logo {
    width: 17.6vw;
    height: auto;
    bottom: 13.333vw;
    right: 10.667vw;
  }

  .about-block::before {
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 27.2vw;
    background-image: url('/images/triangle-1-mob.svg');
    background-size: 100vw auto;
    z-index: 0;
  }

  .about-block::after {
    width: 100%;
    height: 54.4vw;
    background-image: url('/images/triangle-2-mob.svg');
    background-size: 100vw auto;
    z-index: -1;
  }

  .services-block {
    padding: 5.33vw 0 5.8vw 0;
    /* background: center center /100% auto no-repeat url("/images/triangle-3-mob.svg"); */
  }

  .services-block .container {
    width: 89.33vw;
  }

  .block-caption {
    font-size: 10.667vw;
    text-align: center;
    margin: 0 0 5.33vw 0;
  }
  
  .tabs-wrap {
    flex-direction: column;
    margin: 0 0 10.667vw 0;
  }

  .tabs-wrap .video-wrap {
    width: calc(100% + 10.67vw);
    min-height: 60vw;
    margin-left: -5.33vw;
    margin-bottom: 0;
  }

  .tabs-wrap .video-wrap .video-preview::before {
    width: 15.467vw;
    height: 15.467vw;
    background-size: 15.467vw auto;
  }
  
  .tab-info {
    padding: 2.667vw 0 2.667vw 5.333vw;
    margin: 4vw 0 9.333vw 0;
    font-size: 4.267vw;
    line-height: 1.2;
  }
  .tab-info::before {
    width: 2px;
    height: 100%;
    left: 0;
    border-radius: 2.667vw;
  }

  .tab-info::after {
    display: none;
  }

  .tabs {
    order: 2;
    width: 100%;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .tabs .tab::before,
  .tabs .tab::after {
    display: none;
  }

  .tabs .tab {
    font-size: 3.2vw;
    padding: 1.867vw 6.667vw;
    background: #D6EDFF;
    font-family:"ubuntu-regular", sans-serif;
    margin: 0 1vw 1vw 0!important;
  }
  .tabs .tab.active {
    background: #1899FF;
    transform: none;
  }

  .tab-info {
    font-size: 4.267vw;
  }

  .projects-block {
    padding: 5.333vw 0 0 0;
  }

  .projects-block::after {
    display: none;
  }

  .projects-block .container {
    width: 100%;
  }

  .project-item-wrap {
    display: block;
  }

  .project-item-content {
    width: 100%;
    margin: 0;
    padding: 29.333vw 5.333vw 9.067vw 5.333vw;
    text-align: center;
  }

  .project-item-title {
    font-size: 8vw;
    line-height: 1.16;
    margin: 5.333vw 0;
    text-align: left;
  }

  .project-item-desc {
    font-size: 4.533vw;
    padding: 0 5.333vw;
    margin: 0 0 6.667vw 0;
    text-align: left;
  }

  .project-info-list {
    width: 100%;
    padding: 0 5.333vw;
    margin: 0 0 5.333vw 0;
  }

  .project-info-list li span:nth-child(1) {
    font-size: 4.267vw;
  }
  .project-info-list li span:nth-child(2) {
    font-size: 4.267vw;
  }

  .swiper-projects-main {
    margin: 0;
  }

  .swiper-projects-inner  {
    width: 100%;
  }

  .swiper-projects-inner .swiper-button-prev, .swiper-projects-inner .swiper-button-next {
    width: 4.267vw;
    height: 4.267vw;
    background-size: 4vw auto;
  }
  .swiper-projects-inner .swiper-button-prev {
    left: 5vw;
  }
  .swiper-projects-inner .swiper-button-next {
    right: 5vw;
  }

  .swiper-projects-thumbs { 
    position: absolute;
    top: 88vw;
    margin: 2vw 0 6vw 0;
  }

  .swiper-projects-thumbs .swiper-slide > img:nth-child(1) {
    height: 18.667vw;
  }

  .swiper-projects-inner .swiper-slide {
    height: 64vw;
  }

  .swiper-projects-thumbs .swiper-slide {
    width: 33.3%;
  }

  .swiper-projects-thumbs .swiper-slide img:nth-child(2) {
    max-width: 9.067vw;
    max-height: 6.4vw;
  }

  .about-company-block {
    padding: 0 0 56vw 0
  }

  .about-company-block .left-side {
    order: 2;
    position: absolute;
    top: 43.333vw;
    left: 0;
    width: 100vw;
    height: 150.667vw;
    background-size: 100vw;
    background-image: url("/images/rectangle-1-mob.svg");
  }

  .about-company-block .left-side.visible .text-wrap {
    transform: translateX(0);
  }
  .about-company-block .right-side.visible .text-wrap {
    transform: translateX(0);
  }

  .about-company-block .left-side .text-wrap {
    width: 74.667vw;
    margin: 0;
    padding: 19.261vw 0 0 11.794vw;
  }

  .about-company-block .left-side .capt {
    font-size: 13.333vw;
    margin: 0 0 2.667vw 0;
  }

  .about-company-block .left-side .capt b {
    font-size: 24vw;
  }

  .about-company-block .left-side .desc {
    font-size: 5.333vw;
  }

  .about-company-block .right-side {
    order: 1;
    padding: 16vw 0 0 0;
    margin: 0;
  }

  .about-company-block .right-side .capt {
    font-size: 10.667vw;
    line-height: 1.125;
    margin: 0 0 165vw 0;
    text-align: center;
  }

  .about-company-block .right-side .desc {
    font-size: 5.333vw;
    line-height: 1.25;
    width: 100%;
    text-align: center;
  }

  .about-company-block .logo {
    left: 50%;
    transform: translateX(-50%);
    bottom: -37.333vw;
    width: 17.333vw;
  }

  .btn-recomend {
    padding: 1.5vw 3vw;
    min-width: 64vw;
    margin: 0 0 2.667vw -12.667vw;
  }

  .btn-recomend span {
    font-size: 3.733vw;
    width: 100%;
  }

  .btn-recomend span img {
    width: 4.267vw;
    margin-left: auto;
  }

  .projects-block .btn {
    min-width: 69.333vw;
    justify-content: center;
    padding: 2.4vw 0;
  }

  .btn {
    font-size: 4vw;
  }

  .benefits-block .container {
    width: 100%;
    position: relative;
  }

  .benefits-block {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .benefits-block .block-caption {
    color: #fff;
    background: none;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 9.067vw;
    left: 0;
    z-index: 2;
    -webkit-text-fill-color: #fff;
  }

  .benefits-wrap {
    width: 100%;
    flex-wrap:wrap;
    height: auto;
    margin: 0;
  }

  .benefits-item {
    margin: 0!important;
    height: auto!important;
    width: 100%!important;
    position: relative;
    background: linear-gradient(67.83deg, #023497 -55.16%, #19AEC6 95.94%, #595959 110.31%);
  }

  .benefits-item .capt {
    font-size: 5.333vw!important;
    margin: 0 0 2.667vw 0;
    width: 100%;
  }

  .benefits-item .desc {
    font-size: 4.267vw;
    width: 100%;
  }

  .benefits-item:nth-child(2) {
    order: 0;
    padding: 32vw 9.867vw 11.067vw 9.867vw;
  }
  .benefits-item:nth-child(2) img {
    max-width: 28.8vw!important;
    max-height: 32vw!important;
  }
  .benefits-item:nth-child(2) .capt {
    font-size: 8vw!important;
    margin: 2.667vw 0 5.333vw 0;
  }
  .benefits-item:nth-child(2) .desc {
    font-size: 5.333vw;
  }

  .benefits-item:nth-child(1) {
    order: 1;
  }
  .benefits-item:nth-child(1) img {
    max-width: 16vw!important;
    max-height: 16vw!important;
  }

  .benefits-item:nth-child(3) {
    order: 2;
    
  }
  .benefits-item:nth-child(3) img {
    max-width: 16vw!important;
    max-height: 17.333vw!important;
  }

  .benefits-item:nth-child(1),
  .benefits-item:nth-child(3) {
    text-align: left;
    padding: 6.667vw 3.667vw 6.667vw 34.667vw;
  }

  .benefits-item:nth-child(1) img,
  .benefits-item:nth-child(3) img {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 10.667vw;
  }

  .partners-block {
    padding: 18.667vw 0 28vw 0;
  }
  
  .partners-block .container {
    width: 89.333vw;
  }

  .partners-content {
    width: 100%;
    text-align: center;
    margin: 0 0 16vw 0;
  }

  .partners-content p {
    font-size: 4.267vw;
  }

  .partners-wrap {
    flex-direction: column;
  }

  .partners-slider {
    width: 100%;
  }

  .partners-slider-item {
    width: 28vw;
    height: 28vw;
  }
  .partners-slider-item:not(:last-child) {
    margin: 0 0 1.333vw 0;
  }

  .swiper-partners {
    padding: 0 0 20vw 0;
  }

  .swiper-button-prev-partners, .swiper-button-next-partners {
    width: 7.2vw;
    height: 7.2vw;
    background-size: 6.933vw auto;
    top: auto;
    bottom: 0;
    margin: 0;
    transform: none;
  }
  .swiper-button-prev-partners {
    left: calc(50% - 15vw);
    transform: scale(-1,1);
  }
  .swiper-button-next-partners {
    left: auto;
    right: calc(50% - 15vw);
  }

  footer {
    height: auto;
  }

  footer .block-caption {
    text-align: left;
    padding: 0 5.867vw;
  }

  footer .contacts-side {
    position: static;
    width: 100%;
    height: auto;
    transform: none;
    padding: 16vw 0 110vw 0;
  }

  footer .contacts-side .contats-side-content {
    padding: 0;
  }

  footer .contacts-side .contats-side-content {
    transform: none;
  }

  footer .contacts-info {
    flex-direction: column;
  }

  footer .contacts-info > div {
    font-size: 5.333vw;
    margin: 0;
    padding: 5.333vw;
  }
  footer .contacts-info > div:not(:last-child) {
    margin: 0;
    padding: 5.333vw 5.333vw 6.933vw 5.333vw;
  }

  footer .contacts-info > div:not(:last-child)::after {
    width: 66.667vw;
    height: 0.533vw;
    top: auto;
    right: auto;
    bottom: 0;
    left: 5.333vw;
  }

  footer .contacts-tel span {
    width: 6.4vw;
    height: 5.333vw;
    margin: 0 0 0 0.533vw;
  }
  footer .contacts-tel span img {
    width: 3.467vw;
  }

  footer .contacts-tel span:nth-child(1) {
    margin: 0 0 0 2.667vw;
  }

  footer .map-side {
    position: absolute;
    left: 0;
    bottom: 15.2vw;
    top: auto;
    right: auto;
    z-index: 99;
    width: 100%;
    height: 88vw;
    background: center center / 100vw auto no-repeat url(/images/map-mob.png);
  }

  footer .bot-line {
    height: 15.2vw;
    font-size: 3.2vw;
  }

}