@font-face{font-family:"ubuntu-regular";src:url("/styles/fonts/ubuntu-regular.eot");src:url("/styles/fonts/ubuntu-regular.eot?#iefix")format("embedded-opentype"),url("/styles/fonts/ubuntu-regular.woff")format("woff"),url("/styles/fonts/ubuntu-regular.ttf")format("truetype");font-weight:400;font-style:normal;font-stretch:normal}
@font-face{font-family:"ubuntu-medium";src:url("/styles/fonts/ubuntu-medium.eot");src:url("/styles/fonts/ubuntu-medium.eot?#iefix")format("embedded-opentype"),url("/styles/fonts/ubuntu-medium.woff")format("woff"),url("/styles/fonts/ubuntu-medium.ttf")format("truetype");font-weight:500;font-style:normal;font-stretch:normal}
@font-face{font-family:"ubuntu-bold";src:url("/styles/fonts/ubuntu-bold.eot");src:url("/styles/fonts/ubuntu-bold.eot?#iefix")format("embedded-opentype"),url("/styles/fonts/ubuntu-bold.woff")format("woff"),url("/styles/fonts/ubuntu-bold.ttf")format("truetype");font-weight:700;font-style:normal;font-stretch:normal}
@font-face{font-family:"neuton-bold";src:url("/styles/fonts/neuton-bold.eot");src:url("/styles/fonts/neuton-bold.eot?#iefix")format("embedded-opentype"),url("/styles/fonts/neuton-bold.woff")format("woff"),url("/styles/fonts/neuton-bold.ttf")format("truetype");font-weight:700;font-style:normal;font-stretch:normal}
@font-face{font-family:"sourcesanspro-light";src:url("/styles/fonts/sourcesanspro-light.eot");src:url("/styles/fonts/sourcesanspro-light.eot?#iefix")format("embedded-opentype"),url("/styles/fonts/sourcesanspro-light.woff")format("woff"),url("/styles/fonts/sourcesanspro-light.ttf")format("truetype");font-weight:300;font-style:normal;font-stretch:normal}
@font-face{font-family:"sourcesanspro-regular";src:url("/styles/fonts/sourcesanspro-regular.eot");src:url("/styles/fonts/sourcesanspro-regular.eot?#iefix")format("embedded-opentype"),url("/styles/fonts/sourcesanspro-regular.woff")format("woff"),url("/styles/fonts/sourcesanspro-regular.ttf")format("truetype");font-weight:400;font-style:normal;font-stretch:normal}
@font-face{font-family:"sourcesanspro-semibold";src:url("/styles/fonts/sourcesanspro-semibold.eot");src:url("/styles/fonts/sourcesanspro-semibold.eot?#iefix")format("embedded-opentype"),url("/styles/fonts/sourcesanspro-semibold.woff")format("woff"),url("/styles/fonts/sourcesanspro-semibold.ttf")format("truetype");font-weight:600;font-style:normal;font-stretch:normal}
@font-face{font-family:"sourcesanspro-bold";src:url("/styles/fonts/sourcesanspro-bold.eot");src:url("/styles/fonts/sourcesanspro-bold.eot?#iefix")format("embedded-opentype"),url("/styles/fonts/sourcesanspro-bold.woff")format("woff"),url("/styles/fonts/sourcesanspro-bold.ttf")format("truetype");font-weight:700;font-style:normal;font-stretch:normal}

* {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

.swiper-container {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}

.container {
  width: 73.37vw;
  margin: 0 auto;
}

.btn {
  display: inline-flex;
  align-items: center;
  font-size: 1.087vw;
  line-height: 1.16;
  font-family: 'ubuntu-medium', sans-serif;
  text-decoration: none;
  padding: 0.589vw 2.717vw;
  background: linear-gradient(72.94deg, #FF4C40 0.33%, #FDA141 67.12%);
  backdrop-filter: blur(117.841px);
  color: #F6F6F6;
  transform: skew(-15deg);
  transition: background .15s, color .15s;  
}
.btn img {
  margin: 0 0.906vw 0 0;
  transform: skew(15deg);
  height: 1.268vw;
  width: auto;
}
.btn span {
  transform: skew(15deg);
}
.btn:hover {
  background: linear-gradient(72.94deg, red 0.33%, #FDA141 67.12%);
  color: #fff;
}

p {
  margin: 0 0 1.359vw 0;
}

.gradient-text {
  background: radial-gradient(113.05% 1761% at -8.67% 5.68%, #05439D 0%, #1AAEC6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

header.desktop {
  background: rgba(25,25,25,.65);
  backdrop-filter: blur(105.255px);
  filter: drop-shadow(0px 4.217px 12.63px rgba(80, 112, 215, 0.13));
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.452vw 0;
  z-index: 99;
}

header.desktop .container {
  display: flex;
  justify-content: space-between;
}

header.desktop a.logo {
  display: inline-block;
  margin: 0 4.982vw 0 0;
}

header.desktop a.logo img {
  width: 2.808vw;
  height: auto;
}

header.desktop .left-side {
  display: flex;
  align-items: center;
}

header.desktop nav {
  font-size: 0;
}

header.desktop nav a {
  font-size: 0.997vw;
  line-height: 1.18;
  color: #fff;
  text-decoration: none;
  transition: .3s opacity;
}

header.desktop nav a:hover {
  opacity: .8;
}

header.desktop nav a:not(:last-child) {
  margin: 0 1.45vw 0 0;
}

header.desktop .right-side {
  display: flex;
  align-items: center;
}

header.mobile {
  display: none;
}

.lang-dropdown-wrap {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(73.438px);
  transform: skew(-15deg);
  margin: 0 0 0 0.453vw;
  position: relative;
  cursor: pointer;
  font-size: 0;
}

.lang-dropdown-wrap > span {
  display: inline-flex;
  padding: 0.453vw 0.906vw;
  align-items: center;
  font-size: 0.722vw;
  text-decoration: none;
  color: #fff;
  transform: skew(15deg);
}
.lang-dropdown-wrap > span img {
  width: 0.997vw;
  height: auto;
  margin: 0 0.226vw 0 0;
}

.lang-dropdown {
  display: none;
  transform: skew(15deg);
  position: absolute;
  top: calc(100% + 2.296px);
  left: 0.498vw;
  width: 100%;
  flex-direction: column;
}
.lang-dropdown.active {
  display: flex;
}
.lang-dropdown a {
  font-size: 0.635vw;
  display: inline-flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  padding: 0.363vw 0.453vw 0.363vw 0.906vw;
  background: rgba(50,50,50,.5);
  margin: 0 0 2.296px 0;
}
.lang-dropdown a:hover {
  background: rgba(100,100,100,.5);
}
.lang-dropdown a img {
  width: 0.906vw;
  margin: 0 0.226vw 0 0;
}

.video-preview {
  position: relative;
  font-size: 0;
}
/* .video-preview::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5)
} */

.video-preview video {
  width: 100%;
  height: auto;
}

.about-block {
  padding: 2.943vw 0;
  position: relative;
  overflow: hidden;
}
.about-block .logo {
  position: absolute;
  right: 7.11vw;
  bottom: 4.077vw;
  width: 6.794vw;
  height: auto;
  z-index: 9;
}
.about-block::before,
.about-block::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
}
.about-block::before {
  width: 22.645vw;
  height: 11.322vw;
  background: center center / 22.645vw auto no-repeat url("/images/triangle-1.svg");
  top: 0;
  z-index: 2;
}
.about-block::after {
  width: 45.063vw;
  height: 22.645vw;
  background: center center / 45.063vw auto no-repeat url("/images/triangle-2.svg");
  bottom: 0;
  z-index: 3;
}

.about-block-capt {
  font-size: 3.895vw;
  letter-spacing: 0.087vw;
  line-height: 1;
  font-family: 'neuton-bold', sans-serif;
  margin: 0 0 1.811vw 0;
}
.about-block-capt b {
  font-family: 'ubuntu-bold', sans-serif;
}
.about-block-desc {
  display: inline-block;
  font-size: 1.268vw;
  line-height: 1.25;
  color: #636363;
  font-family: 'sourcesanspro-bold', sans-serif;
  margin: 0 0 0 0.453vw;
}

.block-caption {
  margin: 0 0 2.943vw 0;
}

.block-caption {
  font-size: 2.99vw;
  line-height: 1.16;
  font-family: 'ubuntu-bold', sans-serif;
}

.services-block {
  background: #F2F7FB;
  padding: 3.17vw 0;
}

.tabs-wrap {
  display: flex;
  align-items: flex-start;
}

.tabs {
  display: flex;
  flex-direction: column;
  width: 18.116vw;
  margin: 0 1.811vw 0 0;
  flex: none;
}
.tabs .tab {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 3.85vw;
  color: #636363;
  font-size: 1.13vw;
  line-height: 1.16;
  font-family: 'ubuntu-bold', sans-serif;
  position: relative;
  background: radial-gradient(286.47% 1468.06% at 41.08% 68.24%, rgba(166, 202, 255, 0.32) 0%, rgba(255, 255, 255, 0.45) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  backdrop-filter: blur(86.244px);
  padding: 0 2.717vw;
  cursor: pointer;
  transition: .3s transform
}
.tabs .tab::before,
.tabs .tab::after {
  content: '';
  display: block;
  position: absolute;
  width: 2.355vw;
  height: 2.038vw;
  border: 0.136vw solid #44B3CD;
  transition: .3s opacity, .3s width, .3s height, .3s transform;
  z-index: -1;
}
.tabs .tab::before {
  bottom: -0.068vw;
  left: -0.068vw;
  border-top: 0;
  border-right: 0;
}
.tabs .tab::after {
  top: -0.068vw;
  right: -0.068vw;
  border-bottom: 0;
  border-left: 0;
}

.tabs .tab:not(:last-child) {
  margin: 0 0 0.906vw 0;
}

.tabs .tab.active {
  background: linear-gradient(69.59deg, #023497 -6.42%, #19AEC6 97.41%, #595959 158.84%);
  backdrop-filter: blur(98.676px);
  color: #fff;
  transform: translateX(-1.13vw);
}
.tabs .tab.active::before {
  opacity: 0;
}
.tabs .tab.active::after {
  border-top: 0;
  height: 100%;
  transform: translateX(1.087vw);
  top: 0;
}
.tab-content {
  display:none
}
.tab-content.active {
  display: block;
}

.tabs-wrap .video-wrap {
  display: block;
  margin: 0 0 1.811vw 0;
  overflow: hidden;
  position: relative;
  min-height: 27.853vw;
}

.tabs-wrap .video-wrap video {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.tab-info {
  display: inline-block;
  font-size: 1.087vw;
  line-height: 1.25;
  color: #636363;
  position: relative;
}

.tab-info::before,
.tab-info::after {
  content: '';
  display: block;
  position: absolute;
}
.tab-info::before {
  height: 5.616vw;
  width: 0.136vw;
  background: #FF9541;
  top: 0;
  left: -2.038vw;
}

.tab-info::after {
  width: 3.533vw;
  height: 3.533vw;
  left: -7.02vw;
  top: 0.453vw;
  background: center center / 3.533vw auto no-repeat url("/images/info.svg");
}

.tabs-wrap .video-wrap .video-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.tabs-wrap .video-wrap .video-preview::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5.661vw;
  height: 5.661vw;
  background: center center / 5.616vw auto no-repeat url("/images/play-video.svg");
  transition: .3s opacity;
  z-index: 9;
}

.tabs-wrap .video-wrap .video-preview img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-projects-main {
  margin: 0 0 0.997vw 0;
}

.swiper-projects-inner .swiper-slide img {
  width: 100%;
}

.swiper-projects-inner .swiper-wrapper {
  font-size: 0;
}

.swiper-projects-inner .swiper-button-prev,
.swiper-projects-inner .swiper-button-next {
  width: 1.359vw;
  height: 1.359vw;
  background: center center / 1.359vw auto no-repeat url("/images/slider-arrow.svg");
  transition: .3s opacity;
}
.swiper-projects-inner .swiper-button-prev {
  transform: rotate(180deg);
  left: 1.45vw;
}
.swiper-projects-inner .swiper-button-next {
  right: 1.45vw;
}
.swiper-projects-inner .swiper-button-prev::after,
.swiper-projects-inner .swiper-button-next::after {
  display: none;
}

.swiper-projects-inner .swiper-button-prev:hover,
.swiper-projects-inner .swiper-button-next:hover {
  opacity: .8;
}

.swiper-projects-thumbs {
  padding: 0 0 3.17vw 0;
}

.swiper-projects-thumbs .swiper-scrollbar {
  bottom: 0.906vw;
  height: 0.226vw;
  background: #DEDEDE;
}
.swiper-projects-thumbs .swiper-scrollbar-drag {
  height: 0.634vw;
  background: linear-gradient(to right, #FF4C40, #FDA141);
  top: -0.226vw;
}

.swiper-projects-thumbs .swiper-slide {
  padding: 0 0.77vw 0 0;
  position: relative;
  font-size: 0;
  opacity: .5;
}
.swiper-projects-thumbs .swiper-slide.swiper-slide-active{
  opacity: 1;
}
.swiper-projects-thumbs .swiper-slide::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(66.66deg, rgba(166, 202, 255, 0.66) 8.63%, #FFFFFF 125.85%);
  filter: drop-shadow(0px 4.593px 5.741px rgba(172, 172, 172, 0.34));
  width: calc(100% - 0.77vw);
  height: 100%;
}

.projects-block {
  position: relative;
  padding: 4.529vw 0 1.811vw 0;
}
.projects-block::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 31.703vw;
  height: 9.058vw;
  background: center center / 31.703vw auto no-repeat url("/images/triangle-3.svg");
}

.projects-block .container {
  overflow: hidden;
}

.project-item-wrap {
  display: flex;
}

.project-item-wrap > img {
  width: 100%;
  height: 26.54vw;
  object-fit: cover;
}

.project-item-content {
  flex: none;
  width: 25.13vw;
  margin: 0 0 0 4.982vw;
}

.project-item-content .btn {
  padding: 0.906vw 5.435vw;
}

.project-item-title {
  display: block;
  font-size: 2.174vw;
  line-height: 1.145;
  font-family: 'ubuntu-bold', sans-serif;
  color: #3A3C3F;
  margin: 0 0 1.811vw 0;
}

.project-item-desc {
  display: block;
  font-size: 1.177vw;
  line-height: 1.23;
  font-family: "sourcesanspro-semibold", sans-serif;
  color: #636363;
  margin: 0 0 2.261vw 0;
}

.project-info-list {
  width: 19.475vw;
  margin: 0 0 1.359vw 0;
  padding: 0;
  list-style-type: none;
}
.project-info-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project-info-list li span:nth-child(1) {
  font-size: 1.268vw;
  line-height: 1;
  font-family: "sourcesanspro-regular", sans-serif;
  color: #636363;
}
.project-info-list li span:nth-child(2) {
  font-size: 1.268vw;
  line-height: 1;
  font-family: "ubuntu-bold", sans-serif;
  color: #636363;
}
.project-info-list li:not(:last-child) {
  margin: 0 0 0.543vw 0;
}

.btn-recomend {
  display: inline-block;
  font-size: 1.13vw;
  padding: 0.453vw 2.261vw;
  margin: 0 0 1.359vw 0;
  text-decoration: none;
  background: #F2F7FB;
  border: 1.148px dashed #CECECE;
  transform: skew(-15deg);
}
.btn-recomend span {
  display: inline-flex;
  align-items: center;
  font-size: 1.13vw;
  line-height: 1.28;
  color: #636363;
  font-family: "sourcesanspro-light", sans-serif;
  transform: skew(15deg);
}
.btn-recomend span img {
  margin: 0 0 0 1.359vw;
  width: 1.359vw;
  height: auto;
}

.swiper-projects-thumbs .swiper-slide {
  width: 20%;
  height: 100%;
}

.swiper-projects-thumbs .swiper-slide > img:nth-child(1) {
  width: 100%;
}
.swiper-projects-thumbs .swiper-slide img:nth-child(2) {
  max-width: 3.985vw;
  max-height: 2.446vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
}

.about-company-block {
  background: linear-gradient(58.19deg, #023497 4.1%, #19AEC6 91.37%, #595959 100.2%);
  backdrop-filter: blur(96.401px);
  position: relative;
  overflow: hidden;
}
.about-company-block::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 32.473vw;
  height: 16.123vw;
  background: center center / 32.473vw auto no-repeat url("/images/triangle-4.svg");
}

.about-company-block .container {
  display: flex;
  color: #fff;
  position: relative;
}

.about-company-block.visible .left-side {
  transform: translateX(-7.246vw);
}
.about-company-block.visible .right-side {
  transform: translateX(0);
}

.about-company-block .left-side {
  display: flex;
  flex-direction: column;
  flex: none;
  width: 38.813vw;
  height: 48.46vw;
  transform: translateX(-43.478vw);
  transition: 1s transform;
  background: top center / 38.813vw auto no-repeat url("/images/rectangle-1.svg");
}

.about-company-block .left-side .text-wrap {
  width: 19.565vw;
  margin: 2.261vw 0 0 6.794vw;
  padding: 4.529vw 0 0 0;
}

.about-company-block .left-side .capt b {
  font-size: 7.699vw;
}

.about-company-block .left-side .capt {
  display: block;
  font-size: 4.077vw;
  line-height: 1;
  font-family: "ubuntu-bold", sans-serif;
  margin: 0 0 1.177vw 0;
}
.about-company-block .left-side .desc {
  display: block;
  font-size: 1.177vw;
  line-height: 1.23;
  font-family: "sourcesanspro-bold", sans-serif;
  margin: 0 0 4.529vw 0;
}

.about-company-block .right-side {
  display: flex;
  flex-direction: column;
  padding: 11.322vw 0 0 0;
  margin: 0 0 0 -2.261vw;
  transform: translateX(43.478vw);
  transition: 1s transform;
}

.about-company-block .right-side .capt {
  font-size: 3.08vw;
  line-height: 1.14;
  font-family: "ubuntu-bold", sans-serif;
  margin: 0 0 2.717vw 0;
}

.about-company-block .right-side .desc {
  display: block;
  width: 31.974vw;
  font-size: 1.177vw;
  line-height: 1.23;
  font-family: "sourcesanspro-regular", sans-serif;
}

.about-company-block .logo {
  position: absolute;
  width: 3.985vw;
  height: auto;
  right: 4.982vw;
  bottom: 2.717vw
}

.benefits-block {
  padding: 4.303vw 0;
}

.benefits-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -3.623vw;
  width: calc(100% + 7.246vw);
  height: 27.174vw;
}

.benefits-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 3.985vw;
  width: 25.363vw;
  height: 21.826vw;
  background: linear-gradient(to right, #023497, #19AEC6);
  transition: .3s width, .3s height, .3s margin-top
}
.benefits-item:hover {
  background: linear-gradient(to right, #FF4C40, #FDA141);
  backdrop-filter: blur(96.401px);
  width: 31.703vw;
  height: 27.174vw;
  flex: none;
  margin-top: -2.672vw!important;
}
.benefits-item:hover img {
  max-width: 7.246vw!important;
  max-height: 8.605vw!important;
}
.benefits-item:hover .desc {
  transform: scale(1.15) translateY(0.678vw)!important
}

.benefits-item img {
  max-width: 4.71vw;
  max-height: 5.072vw;
  width: 100%;
  height: auto;
  margin: 0 0 1.811vw 0;
  transition: .3s max-width, .3s max-height;
}

.benefits-item:not(:last-child) {
  margin: 0 4.593px 0 0;
}

.benefits-item img {
  max-width: 4.665vw;
  max-height: 5.072vw;
}

.benefits-item .capt {
  display: inline-block;
  font-size: 2.174vw;
  line-height: 1.15;
  font-family: "ubuntu-medium", sans-serif;
  margin: 0 0 0.906vw 0;
}

.benefits-item .desc {
  display: block;
  width: 18.116vw;
  font-size: 1.13vw;
  line-height: 1.26;
  font-family: "sourcesanspro-regular", sans-serif;
  transition: .3s transform
}

.partners-block {
  background: #F2F7FB;
  padding: 4.529vw 0 12.229vw 0;
}

.partners-wrap {
  display: flex;
}

.partners-content {
  width: 31.839vw;
  flex: none;
}

.partners-slider {
  width: 100%;
  min-width: 0;
}

.benefits-block {
  margin: 0 0 4.529vw 0;
}

.benefits-block .block-caption {
  margin: 0 0 4.982vw 0;
}

.partners-content p {
  font-size: 1.54vw;
  line-height: 1.23;
  color: #7C7C7C;
  font-family: "sourcesanspro-regular", sans-serif;
}

.partners-slider-wrap {
  display: flex;
  flex-direction: column;
}

.partners-slider {
  width: 35.326vw;
  margin-left: auto;
}

.partners-slider-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E1E1E1;
  width: 10.87vw;
  height: 10.87vw;
  position: relative;
  filter: grayscale(100%);
}
.partners-slider-item:not(:last-child) {
  margin: 0 0 0.77vw 0;
}
.partners-slider-item img {
  max-width: 9.737vw;
  max-height: 9.284vw;
}
.partners-slider-item::before,
.partners-slider-item::after {
  content: '';
  display: block;
  position: absolute;
  width: 2.355vw;
  height: 2.038vw;
  opacity: 0;
  transition: .3s opacity, .3s filter;
}
.partners-slider-item::before {
  bottom: 0;
  left: 0;
  border-left: 2.296px solid #18A5C3;
  border-bottom: 2.296px solid #18A5C3;
}
.partners-slider-item::after {
  top: 0;
  right: 0;
  border-top: 2.296px solid #18A5C3;
  border-right: 2.296px solid #18A5C3;
}

.partners-slider-item:hover {
  filter: grayscale(0);
}
.partners-slider-item:hover::before,
.partners-slider-item:hover::after {
  opacity: 1;
}

.partners-slider {
  position: relative;
}

.swiper-button-prev-partners,
.swiper-button-next-partners {
  position: absolute;
  transform: translate(0, -50%);
  width: 1.359vw;
  height: 1.359vw;
  left: -2.898vw;
  background: center center / 1.359vw auto no-repeat url("/images/circle-arrow-right-blue.svg");
  transition: .3s opacity;
}
.swiper-button-prev-partners {
  top: calc(50% - 1.585vw);
  transform: rotate(-180deg);
}
.swiper-button-next-partners {
  top: calc(50% + 0.906vw);
}

.swiper-button-prev-partners:hover,
.swiper-button-next-partners:hover {
  cursor: pointer;
  opacity: .8;
}

.partners-slider .swiper-button-prev,
.partners-slider .swiper-button-next {
  left: 0;
}

footer {
  width: 100%;
  height: 22.645vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  color: #fff;
  position: relative;
}

footer .contacts-side {
  background: linear-gradient(to right, #023497, #19AEC6);
  width: 56.609vw;
  height: 100%;
  padding-left: 6.341vw;
  flex: none;
  transform: skew(-40deg);
  position: absolute;
  left: -9.511vw;
  z-index: 9;
}

footer .contacts-side .contats-side-content {
  transform: skew(40deg);
  padding: 3.17vw 0 0 4.756vw;
}

footer .map-side {
  display: inline-block;
  width: 72.917vw;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  flex: none;
  background: top right / 72.917vw auto no-repeat url("/images/map.png");
  z-index: 5;
}

footer .bot-line {
  position: absolute;
  display: flex;
  align-items: center;
  height: 4.077vw;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(265.32deg, rgba(166, 166, 166, 0.75) 3.78%, rgba(220, 220, 220, 0) 115.75%);
  backdrop-filter: blur(96.401px);
  z-index: 10;
  font-size: 0.906vw;
  line-height: 1.25;
  font-family: "sourcesanspro-regular", sans-serif;
  color: #fff;
}

footer .contacts-info {
  display: flex;
}

footer .contacts-info > div {
  display: flex;
  flex-direction: column;
  font-size: 1.13vw;
  line-height: 1.45;
  position: relative;
  font-family: "ubuntu-medium", sans-serif;
}

footer .contacts-info > div:not(:last-child) {
  margin: 0 2.261vw 0 0;
  padding: 0 2.261vw 0 0;
}
footer .contacts-info > div:not(:last-child)::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 4.593px;
  height: 90%;
  background: #FDA141;
  border-radius: 0.226vw;
}

footer .contacts-info > div a {
  color: #fff;
  text-decoration: none;
  transition: .3s opacity;
}

footer .contacts-info > div a:hover {
  opacity: .8
}

footer .contacts-tel {
  display: inline-flex;
  align-items: center;
}

footer .contacts-tel span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.087vw;
  height: 1.087vw;
  transform: skew(-20deg);
  margin: 0 0 0 0.226vw;
}

footer .contacts-tel span img {
  width: 0.634vw;
  height: auto;
  transform: skew(20deg);
}

footer .contacts-tel span:nth-child(1) {
  background: #7D3DAF;
  margin: 0 0 0 0.678vw;

}
footer .contacts-tel span:nth-child(2) {
  background: #1BD741;
}

