@font-face{font-family:"ubuntu-regular";src:url("/styles/fonts/ubuntu-regular.eot");src:url("/styles/fonts/ubuntu-regular.eot?#iefix")format("embedded-opentype"),url("/styles/fonts/ubuntu-regular.woff")format("woff"),url("/styles/fonts/ubuntu-regular.ttf")format("truetype");font-weight:400;font-style:normal;font-stretch:normal}
@font-face{font-family:"ubuntu-medium";src:url("/styles/fonts/ubuntu-medium.eot");src:url("/styles/fonts/ubuntu-medium.eot?#iefix")format("embedded-opentype"),url("/styles/fonts/ubuntu-medium.woff")format("woff"),url("/styles/fonts/ubuntu-medium.ttf")format("truetype");font-weight:500;font-style:normal;font-stretch:normal}
@font-face{font-family:"ubuntu-bold";src:url("/styles/fonts/ubuntu-bold.eot");src:url("/styles/fonts/ubuntu-bold.eot?#iefix")format("embedded-opentype"),url("/styles/fonts/ubuntu-bold.woff")format("woff"),url("/styles/fonts/ubuntu-bold.ttf")format("truetype");font-weight:700;font-style:normal;font-stretch:normal}
@font-face{font-family:"neuton-bold";src:url("/styles/fonts/neuton-bold.eot");src:url("/styles/fonts/neuton-bold.eot?#iefix")format("embedded-opentype"),url("/styles/fonts/neuton-bold.woff")format("woff"),url("/styles/fonts/neuton-bold.ttf")format("truetype");font-weight:700;font-style:normal;font-stretch:normal}
@font-face{font-family:"sourcesanspro-light";src:url("/styles/fonts/sourcesanspro-light.eot");src:url("/styles/fonts/sourcesanspro-light.eot?#iefix")format("embedded-opentype"),url("/styles/fonts/sourcesanspro-light.woff")format("woff"),url("/styles/fonts/sourcesanspro-light.ttf")format("truetype");font-weight:300;font-style:normal;font-stretch:normal}
@font-face{font-family:"sourcesanspro-regular";src:url("/styles/fonts/sourcesanspro-regular.eot");src:url("/styles/fonts/sourcesanspro-regular.eot?#iefix")format("embedded-opentype"),url("/styles/fonts/sourcesanspro-regular.woff")format("woff"),url("/styles/fonts/sourcesanspro-regular.ttf")format("truetype");font-weight:400;font-style:normal;font-stretch:normal}
@font-face{font-family:"sourcesanspro-semibold";src:url("/styles/fonts/sourcesanspro-semibold.eot");src:url("/styles/fonts/sourcesanspro-semibold.eot?#iefix")format("embedded-opentype"),url("/styles/fonts/sourcesanspro-semibold.woff")format("woff"),url("/styles/fonts/sourcesanspro-semibold.ttf")format("truetype");font-weight:600;font-style:normal;font-stretch:normal}
@font-face{font-family:"sourcesanspro-bold";src:url("/styles/fonts/sourcesanspro-bold.eot");src:url("/styles/fonts/sourcesanspro-bold.eot?#iefix")format("embedded-opentype"),url("/styles/fonts/sourcesanspro-bold.woff")format("woff"),url("/styles/fonts/sourcesanspro-bold.ttf")format("truetype");font-weight:700;font-style:normal;font-stretch:normal}

:root {
  --color--gray: #636363;
}

* {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* body {
  background-image: url('/dev/_desktop.png');
  background-size: 1920px auto;
  background-position: top center;
  background-repeat: no-repeat;
  height: 8000px;
} */

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

.swiper-container {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}

.container {
  width: 1620px;
  margin: 0 auto;
}

.btn {
  display: inline-flex;
  align-items: center;
  font-size: 24px;
  line-height: 1.16;
  font-family: 'ubuntu-medium', sans-serif;
  text-decoration: none;
  padding: 13px 60px;
  background: radial-gradient(328.29% 978.25% at 8.33% 109.74%, #FF4C40 23.45%, #FDA141 100%);
  backdrop-filter: blur(102.464px);
  color: #F6F6F6;
  transform: skew(-15deg);
}
.btn img {
  margin: 0 20px 0 0;
  transform: skew(15deg);
  height: 28px;
  width: auto;
}
.btn span {
  transform: skew(15deg);
}

p {
  margin: 0 0 30px 0;
}

.gradient-text {
  background: radial-gradient(113.05% 1761% at -8.67% 5.68%, #05439D 0%, #1AAEC6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

header {
  background: rgba(25,25,25,.65);
  backdrop-filter: blur(91.5274px);
  filter: drop-shadow(0px 3.66109px 10.9833px rgba(80, 112, 215, 0.13));
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 99;
}

header .container {
  display: flex;
  justify-content: space-between;
}

header a.logo {
  display: inline-block;
  margin: 0 110px 0 0;
}

header a.logo img {
  width: 62px;
  height: auto;
}

header .left-side {
  display: flex;
  align-items: center;
}

header nav a {
  font-size: 22px;
  line-height: 1.18;
  color: #fff;
  text-decoration: none;
  transition: .3s opacity;
}

header nav a:hover {
  opacity: .8;
}

header nav a:not(:last-child) {
  margin: 0 32px 0 0;
}

header .right-side {
  display: flex;
  align-items: center;
}

.lang-dropdown-wrap {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(63.8645px);
  transform: skew(-15deg);
  margin: 0 0 0 10px;
  position: relative;
}

.lang-dropdown-wrap > span {
  display: inline-flex;
  padding: 10px 20px;
  align-items: center;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  transform: skew(15deg);
}
.lang-dropdown-wrap > span img {
  margin: 0 5px 0 0;
}

.lang-dropdown {
  display: none;
  transform: skew(15deg);
  position: absolute;
  top: calc(100% + 2px);
  left: 11px;
  width: 100%;
  flex-direction: column;
}
.lang-dropdown.active {
  display: flex;
}
.lang-dropdown a {
  display: inline-flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  padding: 8px 10px 8px 20px;
  background: rgba(50,50,50,.5);
  margin: 0 0 2px 0;
}
.lang-dropdown a:hover {
  background: rgba(100,100,100,.5);
}
.lang-dropdown a img {
  margin: 0 5px 0 0;
}

.video-preview {
  position: relative;
  font-size: 0;
}
/* .video-preview::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5)
} */

.video-preview video {
  width: 100%;
  height: auto;
}

.about-block {
  padding: 65px 0;
  position: relative;
  overflow: hidden;
}
.about-block .logo {
  position: absolute;
  right: 157px;
  bottom: 90px;
  width: 150px;
  height: auto;
  z-index: 9;
}
.about-block::before,
.about-block::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
}
.about-block::before {
  width: 500px;
  height: 250px;
  background: center center / 500px auto no-repeat url("/images/triangle-1.svg");
  top: 0;
  z-index: 2;
}
.about-block::after {
  width: 995px;
  height: 500px;
  background: center center / 995px auto no-repeat url("/images/triangle-2.svg");
  bottom: 0;
  z-index: 3;
}

.about-block-capt {
  font-size: 86px;
  letter-spacing: 2px;
  line-height: 1;
  font-family: 'neuton-bold', sans-serif;
  margin: 0 0 40px 0;
}
.about-block-capt b {
  font-family: 'ubuntu-bold', sans-serif;
}
.about-block-desc {
  display: inline-block;
  font-size: 28px;
  line-height: 1.25;
  color: var(--color--gray);
  font-family: 'sourcesanspro-bold', sans-serif;
  margin: 0 0 0 10px;
}

.block-caption {
  margin: 0 0 65px 0;
}

.block-caption {
  font-size: 66px;
  line-height: 1.16;
  font-family: 'ubuntu-bold', sans-serif;
}

.services-block {
  background: #F2F7FB;
  padding: 70px 0;
}

.tabs-wrap {
  display: flex;
  align-items: flex-start;
}

.tabs {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 40px 0 0;
  flex: none;
}
.tabs .tab {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 85px;
  color: var(--color--gray);
  font-size: 25px;
  line-height: 1.16;
  font-family: 'ubuntu-bold', sans-serif;
  position: relative;
  background: radial-gradient(286.47% 1468.06% at 41.08% 68.24%, rgba(166, 202, 255, 0.32) 0%, rgba(255, 255, 255, 0.45) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  backdrop-filter: blur(75px);
  padding: 0 60px;
  cursor: pointer;
  transition: .3s transform
}
.tabs .tab::before,
.tabs .tab::after {
  content: '';
  display: block;
  position: absolute;
  width: 52px;
  height: 45px;
  border: 3px solid #44B3CD;
  transition: .3s opacity, .3s width, .3s height, .3s transform;
  z-index: -1;
}
.tabs .tab::before {
  bottom: -1.5px;
  left: -1.5px;
  border-top: 0;
  border-right: 0;
}
.tabs .tab::after {
  top: -1.5px;
  right: -1.5px;
  border-bottom: 0;
  border-left: 0;
}

.tabs .tab:not(:last-child) {
  margin: 0 0 20px 0;
}

.tabs .tab.active {
  background: radial-gradient(1005.95% 3313.86% at -31.66% 50.59%, #023497 17.75%, #19AEC6 69.43%, #595959 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  backdrop-filter: blur(85.8068px);
  color: #fff;
  transform: translateX(-25px);
}
.tabs .tab.active::before {
  opacity: 0;
}
.tabs .tab.active::after {
  border-top: 0;
  height: 100%;
  transform: translateX(24px);
  top: 0;
}
.tab-content {
  display:none
}
.tab-content.active {
  display: block;
}

.tabs-wrap .video-wrap {
  display: block;
  margin: 0 0 40px 0;
  overflow: hidden;
  position: relative;
  min-height: 615px;
}

.tabs-wrap .video-wrap video {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.tab-info {
  font-size: 24px;
  line-height: 1.25;
  color: var(--color--gray);
  position: relative;
}

.tab-info::before,
.tab-info::after {
  content: '';
  display: block;
  position: absolute;
}
.tab-info::before {
  height: 124px;
  width: 3px;
  background: #FF9541;
  top: 0;
  left: -45px;
}

.tab-info::after {
  width: 78px;
  height: 78px;
  left: -155px;
  top: 10px;
  background: center center / 78px auto no-repeat url("/images/info.svg");
}

.tabs-wrap .video-wrap .video-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.tabs-wrap .video-wrap .video-preview::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 125px;
  height: 125px;
  background: center center / 124px auto no-repeat url("/images/play-video.svg");
  transition: .3s opacity;
  z-index: 9;
}

.tabs-wrap .video-wrap .video-preview img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-projects-main {
  margin: 0 0 22px 0;
  /* width: 100%;
  min-width: 0; */
}

.swiper-projects-inner .swiper-button-prev,
.swiper-projects-inner .swiper-button-next {
  width: 30px;
  height: 30px;
  background: center center / 30px auto no-repeat url("/images/slider-arrow.svg");
}
.swiper-projects-inner .swiper-button-prev {
  transform: rotate(180deg);
  left: 32px;
}
.swiper-projects-inner .swiper-button-next {
  right: 32px;
}
.swiper-projects-inner .swiper-button-prev::after,
.swiper-projects-inner .swiper-button-next::after {
  display: none;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-projects-thumbs {
  padding: 0 0 70px 0;
}

.swiper-projects-thumbs .swiper-scrollbar {
  bottom: 20px;
  background: #DEDEDE;
}
.swiper-projects-thumbs .swiper-scrollbar-drag {
  height: 14px;
  background: linear-gradient(to right, #FF4C40, #FDA141);
  top: -5px;
}

.swiper-projects-thumbs .swiper-slide {
  padding: 0 17px 0 0;
  position: relative;
  font-size: 0;
  opacity: .5;
}
.swiper-projects-thumbs .swiper-slide.swiper-slide-active{
  opacity: 1;
}
.swiper-projects-thumbs .swiper-slide::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(66.66deg, rgba(166, 202, 255, 0.66) 8.63%, #FFFFFF 125.85%);
  filter: drop-shadow(0px 4px 5px rgba(172, 172, 172, 0.34));
  width: calc(100% - 17px);
  height: 100%;
}

.projects-block {
  position: relative;
  padding: 100px 0 40px 0;
}
.projects-block::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 700px;
  height: 200px;
  background: center center / 700px auto no-repeat url("/images/triangle-3.svg");
}

.projects-block .container {
  overflow: hidden;
}

.project-item-wrap {
  display: flex;
}

.project-item-wrap > img {
  width: 100%;
  height: 586px;
  object-fit: cover;
}

.project-item-content {
  flex: none;
  width: 555px;
  margin: 0 0 0 110px;
}

.project-item-content .btn {
  padding: 20px 120px;
}

.project-item-title {
  display: block;
  font-size: 48px;
  line-height: 1.145;
  font-family: 'ubuntu-bold', sans-serif;
  color: #3A3C3F;
  margin: 0 0 40px 0;
}

.project-item-desc {
  display: block;
  font-size: 26px;
  line-height: 1.23;
  font-family: "sourcesanspro-semibold", sans-serif;
  color: #636363;
  margin: 0 0 50px 0;
}

.project-info-list {
  width: 430px;
  margin: 0 0 30px 0;
  padding: 0;
  list-style-type: none;
}
.project-info-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project-info-list li span:nth-child(1) {
  font-size: 28px;
  line-height: 1;
  font-family: "sourcesanspro-regular", sans-serif;
  color: #636363;
}
.project-info-list li span:nth-child(2) {
  font-size: 28px;
  line-height: 1;
  font-family: "ubuntu-bold", sans-serif;
  color: #636363;
}
.project-info-list li:not(:last-child) {
  margin: 0 0 12px 0;
}

/* .swiper-wrapper {
  overflow: hidden;
} */

.btn-recomend {
  display: inline-block;
  padding: 10px 50px;
  margin: 0 0 30px 0;
  text-decoration: none;
  background: #F2F7FB;
  border: 1px dashed #CECECE;
  transform: skew(-15deg);
}
.btn-recomend span {
  display: inline-flex;
  align-items: center;
  font-size: 25px;
  line-height: 1.28;
  color: #636363;
  font-family: "sourcesanspro-light", sans-serif;
  transform: skew(15deg);
}
.btn-recomend span img {
  margin: 0 0 0 30px;
  width: 30px;
  height: auto;
}

.swiper-projects-thumbs .swiper-slide {
  width: 20%;
  height: 100%;
}

.swiper-projects-thumbs .swiper-slide > img:nth-child(1) {
  width: 100%;
}
.swiper-projects-thumbs .swiper-slide img:nth-child(2) {
  max-width: 88px;
  max-height: 54px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
}

.about-company-block {
  background: radial-gradient(876.66% 2015.24% at -40.13% 142.89%, #023497 27.92%, #19AEC6 93.37%, #595959 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  backdrop-filter: blur(83.8343px);
  position: relative;
  overflow: hidden;
}
.about-company-block::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 717px;
  height: 356px;
  background: center center / 717px auto no-repeat url("/images/triangle-4.svg");
}

.about-company-block .container {
  display: flex;
  color: #fff;
  position: relative;
}

.about-company-block.visible .left-side {
  transform: translateX(-160px);
}
.about-company-block.visible .right-side {
  transform: translateX(0);
}

.about-company-block .left-side {
  display: flex;
  flex-direction: column;
  flex: none;
  width: 857px;
  height: 1070px;
  transform: translateX(-960px);
  transition: 1s transform;
  background: top center / 857px auto no-repeat url("/images/rectangle-1.svg");
}

.about-company-block .left-side .text-wrap {
  width: 432px;
  margin: 50px 0 0 150px;
  padding: 100px 0 0 0;
}

.about-company-block .left-side .capt b {
  font-size: 170px;
}

.about-company-block .left-side .capt {
  display: block;
  font-size: 90px;
  line-height: 1;
  font-family: "ubuntu-bold", sans-serif;
  margin: 0 0 26px 0;
}
.about-company-block .left-side .desc {
  display: block;
  font-size: 26px;
  line-height: 1.23;
  font-family: "sourcesanspro-bold", sans-serif;
  margin: 0 0 100px 0;
}

.about-company-block .right-side {
  display: flex;
  flex-direction: column;
  padding: 250px 0 0 0;
  margin: 0 0 0 -50px;
  transform: translateX(960px);
  transition: 1s transform;
}

.about-company-block .right-side .capt {
  font-size: 68px;
  line-height: 1.14;
  font-family: "ubuntu-bold", sans-serif;
  margin: 0 0 60px 0;
}

.about-company-block .right-side .desc {
  display: block;
  width: 706px;
  font-size: 26px;
  line-height: 1.23;
  font-family: "sourcesanspro-regular", sans-serif;
}

.about-company-block .logo {
  position: absolute;
  width: 88px;
  height: auto;
  right: 110px;
  bottom: 60px
}

.benefits-block {
  padding: 95px 0;
}

.benefits-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -80px;
  width: calc(100% + 160px);
  height: 600px;
}

.benefits-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 88px;
  width: 560px;
  height: 482px;
  background: linear-gradient(to right, #023497, #19AEC6);
  transition: .3s width, .3s height, .3s margin-top
}
.benefits-item:hover {
  background: linear-gradient(to right, #FF4C40, #FDA141);
  backdrop-filter: blur(83.8343px);
  width: 700px;
  height: 600px;
  flex: none;
  margin-top: -59px!important;
}
.benefits-item:hover img {
  max-width: 160px!important;
  max-height: 190px!important;
}
.benefits-item:hover .desc {
  transform: scale(1.15) translateY(15px)!important
}

.benefits-item img {
  max-width: 104px;
  max-height: 112px;
  width: 100%;
  height: auto;
  margin: 0 0 40px 0;
  transition: .3s max-width, .3s max-height;
}

.benefits-item:not(:last-child) {
  margin: 0 4px 0 0;
}

.benefits-item img {
  max-width: 103px;
  max-height: 112px;
}

.benefits-item .capt {
  display: inline-block;
  font-size: 48px;
  line-height: 1.15;
  font-family: "ubuntu-medium", sans-serif;
  margin: 0 0 20px 0;
}

.benefits-item .desc {
  display: block;
  width: 400px;
  font-size: 25px;
  line-height: 1.26;
  font-family: "sourcesanspro-regular", sans-serif;
  transition: .3s transform
}

.partners-block {
  background: #F2F7FB;
  padding: 100px 0 270px 0;
}

.partners-wrap {
  display: flex;
}

.partners-content {
  width: 703px;
  flex: none;
}

.partners-slider {
  width: 100%;
  min-width: 0;
}

.benefits-block {
  margin: 0 0 100px 0;
}

.benefits-block .block-caption {
  margin: 0 0 110px 0;
}

.partners-content p {
  font-size: 34px;
  line-height: 1.23;
  color: #7C7C7C;
  font-family: "sourcesanspro-regular", sans-serif;
}

.partners-slider-wrap {
  display: flex;
  flex-direction: column;
}

.partners-slider {
  width: 780px;
  margin-left: auto;
}

.partners-slider-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #A6CAFF;
  width: 240px;
  height: 240px;
}
.partners-slider-item:not(:last-child) {
  margin: 0 0 17px 0;
}
.partners-slider-item img {
  max-width: 215px;
  max-height: 205px;
}

.partners-slider {
  position: relative;
}

.swiper-button-prev-partners,
.swiper-button-next-partners {
  position: absolute;
  transform: translate(0, -50%);
  width: 30px;
  height: 30px;
  left: -64px;
  background: center center / 30px auto no-repeat url("/images/circle-arrow-right-blue.svg");
}
.swiper-button-prev-partners {
  top: calc(50% - 35px);
  transform: rotate(-180deg);
}
.swiper-button-next-partners {
  top: calc(50% + 20px);
}

.partners-slider .swiper-button-prev,
.partners-slider .swiper-button-next {
  left: 0;
}

.partners-slider .swiper-button-prev {

}
.partners-slider .swiper-button-next {

}

footer {
  width: 100%;
  height: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  color: #fff;
  position: relative;
}

footer .contacts-side {
  background: linear-gradient(to right, #023497, #19AEC6);
  width: 1250px;
  height: 100%;
  padding-left: 140px;
  flex: none;
  transform: skew(-40deg);
  position: absolute;
  left: -210px;
  z-index: 9;
}

footer .contacts-side .contats-side-content {
  transform: skew(40deg);
  padding: 70px 0 0 105px;
}

footer .map-side {
  display: inline-block;
  width: 1610px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  flex: none;
  background: top right / 1610px auto no-repeat url("/images/map.png");
  z-index: 5;
}

footer .bot-line {
  position: absolute;
  display: flex;
  align-items: center;
  height: 90px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(265.32deg, rgba(166, 166, 166, 0.75) 3.78%, rgba(220, 220, 220, 0) 115.75%);
  backdrop-filter: blur(83.8343px);
  z-index: 10;
  font-size: 20px;
  line-height: 1.25;
  font-family: "sourcesanspro-regular", sans-serif;
  color: #fff;
}

footer .contacts-info {
  display: flex;
}

footer .contacts-info > div {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  line-height: 1.45;
  position: relative;
  font-family: "ubuntu-medium", sans-serif;
}

footer .contacts-info > div:not(:last-child) {
  margin: 0 50px 0 0;
  padding: 0 50px 0 0;
}
footer .contacts-info > div:not(:last-child)::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 4px;
  height: 90%;
  background: #FDA141;
  border-radius: 5px;
}

footer .contacts-info > div a {
  color: #fff;
  text-decoration: none;
  transition: .3s opacity;
}

footer .contacts-info > div a:hover {
  opacity: .8
}

footer .contacts-tel {
  display: inline-flex;
  align-items: center;
}

footer .contacts-tel span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  transform: skew(-20deg);
  margin: 0 0 0 5px;
}

footer .contacts-tel span img {
  width: 14px;
  height: auto;
  transform: skew(20deg);
}

footer .contacts-tel span:nth-child(1) {
  background: #7D3DAF;
  margin: 0 0 0 15px;

}
footer .contacts-tel span:nth-child(2) {
  background: #1BD741;
}

